.header {
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 10rem;
  height: 3rem;
}

.header-Menu {
  display: flex;
  list-style: none;
  gap: 2rem;
  color: white;
}

.header-Menu > li:hover {
  cursor: pointer;
  color: var(--orange);
}
